.heading {
    background: #e01f23;
    background-size: contain;
}
.backgroundLayout {
    padding: 5px;
}
h2, h3 {
    color: #fff;
    text-align: center;
    font-weight: 700;
}
.event-name span {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 50px;
    font-family: OpenSans-Bold;
    border-bottom: 1px solid #fdf73b;
    position: relative;
    font-size: 24px;
    display: inline-block;
}
.event-name span sup{
	font-size: 8px;
}

.registration-form {
    font-size: 14px;
    font-family: OpenSans-Regular;
}

img {
    vertical-align: middle;
    position: absolute;
    width: auto;
    height: 110px;
    display: none;
}
