<div>
    <h3 class="blue">Participant Registration Number <br><p class="regNo">{{commonService.regNo}}</p></h3>
</div>
<!--h1>Payment Details</h1>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>
        Account Name :
      </td>
        <td>
          Vithalrao Joshi Charities Trust
        </td>
    </tr>

      <tr>
        <td>
          Name :
        </td>
          <td>
            Bank of India
          </td>
      </tr>

        <tr>
          <td>
            Branch Address :
          </td>
            <td>
              Ayeshabi complex, Bazaar peth, Chiplun, Ratnagiri, Maharashtra
            </td>
        </tr>

          <tr>
            <td>
              Account Number :
            </td>
              <td>
                141110200017659
              </td>
          </tr>
          <tr>
            <td>
              ISFC Code :
            </td>
              <td>
                BKID0001411
              </td>
          </tr>
  </tbody>
</table-->

<div class="middle-elements">
  <!--button class="btn btn-primary" (click)="newRegistration()">New Registration</button-->
  <button class="btn btn-primary" (click)="print()">Print Form</button>
</div>
