.blue {
    color: #369;
    background: transparent;
}
.regNo {
    color: #ff4081;
    font-size: 30px;
    font-weight: 700;
}
h3{
  font-size: 150%;
    text-align: center;
    font-weight: 700;
}
